# SPDX-FileCopyrightText: 2025 Contributors to the Media eXchange Layer project.
# SPDX-License-Identifier: Apache-2.0

build
.cache
install

CMakeUserPresets.json

.idea
.vscode

vcpkg_cache 
.DS_Store
install_amd64
install_x86_64
install_arm64

